main {
    width: 1420px;

    .section1main {
        margin-left: 150px;
        margin-right: 150px;
        display: flex;
        justify-content: space-around;
    }
}

.articleleft {
    width: 340px;

    div {
        position: relative;
        padding-bottom: 50px;

        img {
            max-width: 410px;
            position: absolute;
            left: -40px;
            top: -220px;
        }

        .picturez50 {
            position: absolute;
            z-index: 50;
            width: 200px;
            left: -100px;
            top: -150px;

        }
    }
}

.articlemiddle {
    width: 340px;
    padding-top: 70px;

    div {
        position: relative;
        padding-bottom: 50px;

        img {
            max-width: 410px;
            position: absolute;
            left: -40px;
            top: -220px;
        }
    }
}

.articleright {
    width: 340px;
    padding-top: 140px;

    div {
        position: relative;
        padding-bottom: 50px;

        img {
            max-width: 410px;
            position: absolute;
            left: -40px;
            top: -220px;
        }

        .rightrightpic {
            position: absolute;
            z-index: 50;
            width: 190px;
            left: 220px;
            top: -100px
        }

        .topleftpic {
            position: absolute;
            z-index: 50;
            width: 190px;
            left: 0px;
            top: -270px
        }

        .toprightpic {
            position: absolute;
            z-index: 50;
            width: 210px;
            left: 180px;
            top: -350px
        }
    }
}

h3 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
}

p {
    line-height: 25px;
}

/*---------- SECTION 2 FROM MAIN ---------*/

.section2main {
    margin-top: 150px;
    background-image: url(../../../public/img/purplebg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 850px;

    .section2article1 {

        margin: 0 auto;
        padding-top: 75px;

        .section2a1d1 {
            position: relative;

            img {
                position: absolute;
            }

            .section2a1pic1 {
                width: 380px;
                left: 200px;
                top: -100px;
                z-index: 50;

            }

            .section2a1pic1shadow {
                width: 370px;
                left: 220px;
                top: -80px;
                z-index: 40;
            }

            .section2a1pic2 {
                width: 300px;
                left: 175px;
                top: 75px;
            }

            .section2a1pic3 {
                width: 50px;
                left: 150px;
                top: 35px;
            }

            .section2a1pic4 {
                width: 150px;
                left: 180px;
                top: 215px;
            }

        }

        .section2a1d2 {

            max-width: 370px;
            margin-left: 45%;

            h3 {
                color: white;
                line-height: 16px;
            }

            p {
                color: white;
                padding-top: 10px;
                padding-bottom: 20px;
            }
        }

    }

    .section2article2 {

        margin: 0 auto;
        padding-top: 75px;

        .section2a2d1 {
            position: relative;

            img {
                position: absolute;
            }

            .section2a2pic1 {
                width: 380px;
                right: 200px;
                top: 50px;
                z-index: 50;
            }

            .section2a1pic2shadow {
                width: 370px;
                right: 200px;
                top: 110px;
                z-index: 40;
            }


            .section2a2pic2 {
                width: 200px;
                right: 115px;
                top: 50px;
            }

            .section2a2pic3 {
                width: 350px;
                right: 75px;
                top: 225px;
            }

            .section2a2pic4 {
                width: 50px;
                right: 400px;
                top: 50px;
                z-index: 99;
            }
        }

        .section2a2d2 {

            max-width: 370px;
            margin-left: 30%;
            margin-top: 60px;

            h3 {
                color: white;
                line-height: 16px;
            }

            p {
                color: white;
                padding-top: 10px;
                padding-bottom: 20px;
            }
        }

    }
}

/*--------- SECTION3 ----------*/

.section3 {
    height: 344px;
    margin-top: 100px;
    text-align: center;

    h2 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    p {
        width: 500px;
        margin: 0 auto;
        color: #7854F7;
    }

    .gruppenfoto {
        width: 70%;
        left: 15%;


    }

    div {
        position: relative;

        img {
            position: absolute;
        }

        .grpdecoration1 {
            width: 30px;
            left: 150px;
            bottom: 50px;
        }

        .grpdecoration2 {
            width: 30px;
            right: 170px;
            bottom: 130px;
        }

        .grpdecoration3 {
            width: 50px;
            left: 80px;
            bottom: 120px;
        }

        .grpdecoration4 {
            width: 300px;
            bottom: -40px;
            right: 60px;
            z-index: -10;
        }

        .grpdecoration5 {
            width: 200px;
            left: 100px;
            top: -30px;
            z-index: -10;

        }
    }

}
