main {

    section {
        margin-left: 150px;
        margin-right: 150px;
        display: flex;
        justify-content: space-around;
    }
}

.articleleft {
    width: 340px;

    div {
        position: relative;
        padding-bottom: 50px;

        img {
            max-width: 410px;
            position: absolute;
            left: -40px;
            top: -220px;
        }

        .picturez50 {
            position: absolute;
            z-index: 50;
            width: 200px;
            left: -100px;
            top: -150px;

        }
    }
}

.articlemiddle {
    width: 340px;
    padding-top: 70px;

    div {
        position: relative;
        padding-bottom: 50px;

        img {
            max-width: 410px;
            position: absolute;
            left: -40px;
            top: -220px;
        }
    }
}

.articleright {
    width: 340px;
    padding-top: 140px;

    div {
        position: relative;
        padding-bottom: 50px;

        img {
            max-width: 410px;
            position: absolute;
            left: -40px;
            top: -220px;
        }

        .rightrightpic {
            position: absolute;
            z-index: 50;
            width: 190px;
            left: 220px;
            top: -100px
        }

        .topleftpic {
            position: absolute;
            z-index: 50;
            width: 190px;
            left: 0px;
            top: -270px
        }

        .toprightpic {
            position: absolute;
            z-index: 50;
            width: 210px;
            left: 180px;
            top: -350px
        }
    }
}

h3 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
}

p {
    line-height: 25px;
}