.container1 {
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    display: flex;
    top: 250px;
    left: 620px;
    justify-content: center;
    align-items: center;
    z-index: 1001;



    input[type=text],
    input[type=password] {
        display: block;
        height: 7vh;
        width: 100%;
        border-radius: 3px;
        padding: 0 15px;
        margin-top: 2vh;
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.238);
        border: 0.5px solid rgba(0, 0, 0, 0.126);
    }

    .loginBtn {
        margin-top: 50px;
        width: 100%;
        background-color: #7854F7;
        color: white;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .form {
        margin: 0 auto;
        height: 450px;
        width: 450px;
        background-color: rgba(255, 255, 255, 0.888);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 60px 35px;
        position: relative;
    }

    .form * {
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .closeBtn{
        background-color: transparent;
        position: absolute;
        left: 420px;
        top: 15px;
        &:hover{
            font-size: 20px;
        }
    }

    .H1{
        width: 100%;
        color: black;
        font-size: 40px;
        line-height: 42px;
        text-align: center;
    }

    .textAlign{
        text-align: center;
        font-size: 15px;
    }
}