

.container {
        height: 100vh;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;


    input[type=text],
    input[type=password] {
        display: block;
        height: 7vh;
        width: 100%;
        border-radius: 3px;
        padding: 0 15px;
        margin-top: 2vh;
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.238);
    }

    .loginBtn {
        margin-top: 50px;
        width: 100%;
        background-color: #7854F7;
        color: white;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
}

    .form {
        height: 520px;
        width: 450px;
        max-width: 450px;
        min-width: 450px;
        background-color: rgb(255, 255, 255);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 60px 35px;
    }

    .form * {
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .text-align {
        text-align: center;
        width: 100%;
        color: black;
    }

    .form h1 {
        font-family: Robot700;
        font-size: 40px;
        line-height: 42px;
    }
    .form p {
        
        font-size: 15px;
    }
}
