header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(29, 99, 212, 0.111) 100%);
    width: 100vw;

    .headersection {
        position: relative;
        margin-top: 150px;
        margin-left: 150px;

        img {
            position: absolute;
            right: 0px;
            top: -200px;
            height: 800px;
        }

        h1 {
            font-family: Robot700;
            width: 600px;
            font-size: 65px;
            margin-bottom: 15px;
        }

        p {
            width: 55vw;
            line-height: 25px;
        }
    }

    h2 {
        font-family: Robot700;
        text-align: center;
        font-size: 45px;
        width: 400px;
        margin: 20vh auto 30vh;
    }
}

.paddingbottom {
    padding-bottom: 75px;
}