nav {
    display: flex;
    position: sticky;
    width: 100vw;
    align-items: baseline;
    padding-top: 20px;
    z-index: 1000;

    .navPTag {
        margin-left: 3%;
        margin-right: 10%;
    }

    .dflex {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        margin-right: 5%;

        .textdeconone {
            text-decoration: none;
            color: #000;
            margin: 2rem 2rem 0 2rem;
        }

        .link {
            cursor: pointer;
        }

        .underlineAnimation {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #000;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.3s ease;
            }

            &:hover::after {
                transform: scale(1);
                transform-origin: bottom left;
            }
        }
    }
}

.aligneitems1 {
    align-items: baseline;
}