.sidebar{
    width: 200px;
    .categories{
        
        .category{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }

    .brands{
        width: 150px;
        align-items:center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .div_ratings{
        width: 150px;
        align-items:center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .slider{
        margin-top: 30px;
    }

    .priceInput{
        margin-top: 60px;
        display: flex;
    }

    .articleSlider{
        height: 200px;
    }

    .labelStar{
        display: flex;
        justify-content: start;
        height: 20px;
    }
}