footer {
    width: 1420px;
    margin: 30px 0 ;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-around;


    .footerdiv1 {
        margin-left: 150px;

        a {
            color: #272D4E;
            padding-right: 20px;
        }
    }

    .footerdiv2 {
        display: flex;
        align-items: center;

        .fontSize{
            font-size: 12px;
            padding-right: 5px;
        }

        a {
            span {
                text-decoration: underline;
            }
        }
    }
}