footer {
    width: 1420px;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    position: sticky;
    justify-content: space-around;

    .footerdiv1 {
        margin-left: 150px;

        a {
            color: #272D4E;
            padding-right: 20px;
        }
    }

    .footerdiv2 {
        display: flex;

        p {
            padding-right: 5px;

            span {
                text-decoration: underline;
            }
        }
    }
}