@font-face{
  font-family: Robot400;
  src:url('../public/fonts/Roboto-Regular.ttf')
}
@font-face{
  font-family: Robot700;
  src:url('../public/fonts/Roboto-Bold.ttf')
}

* {
  margin: 0;
  padding: 0;
  font-family: Robot400;
  box-sizing: border-box;
}

body{
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(29, 99, 212, 0.111) 100%);
}

h1, h2, h3, h4 {
  font-family: Robot700;
}

p {
  font-size: 14px;
}

button{
  font-family: Robot400;
  font-size: 15px;
  border-radius: 5px;
}

input[type=checkbox], a, button {
  cursor: pointer;
}