.detailssec1 {
    margin-top: 150px;
    margin-left: 150px;
    display: flex;
    
    .dflex {
        display: flex;
        margin-bottom: 10px;
    }

    .imgdetails {
        max-width: 600px;
        max-height: 500px;
        margin-right: 25px;
    }

    .productInfo {
        padding-left: 3vw;
        .price {
            padding-top: 8px;
            font-size: 1.7rem;
        }

        .productdescription {
            width: 480px;
        }
    }
}

.btnbottom {
    margin-left: 150px;
    margin-bottom: 100px;
}

.footerbottom {
    position: relative;
}

.footerabsolut {
    position: absolute;
    bottom: 0;
}


.paddingbottom1 {
    .zustandmarke {
        margin-top: 2vh;
        padding-right: 3vw;
    }
    .pTag {
        font-size: 14px;
        padding-bottom: 2px;
    }
}

.registerBtnreverse {
    border: solid 1px #7854F7;
    color: #7854F7;
    padding: 14px 26px;
    background-color: white;
    margin: 20px 15px 0 0;
    width: 150px;
}

.registerBtn {
    border: none;
    margin: 20px 0 0 15px;
    color: #ffff;
    padding: 15px 27px;
    width: 150px;
    background-color: #7854F7;
}