.container {
  align-items: center;
  justify-content: center;
}
  
  .slider {
    position: relative;
    width: 160px;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: #ced4da;
    width: 150px;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #8635e8;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    color: #000000;
    margin-top: 20px;
    .valInput{
      border-color: #f1f5f7;
      width: 50px;
      height: 40px;
      font-size: 16px;
      border-radius: 5px;
      text-align: center;
    }
  }

  .slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
.thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-tap-highlight-color: transparent;
  } 
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 160px;
    outline: none;
  }
  
  .thumb--left {
    z-index: 3;
    background-color: #ced4da;
  }
  
  .thumb--right {
    z-index: 4;
    background-color:#ced4da ;
  }
  
  
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
